@if (Context.User.Identity.Name != null){
    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                You are logged in as @Context.User.Identity.Name
            </li>
            <li>
                <button type="submit" class="button btn-link navbar-btn navbar-link">Log Out</button>
            </li>
        </ul>
    </form>
}
else{
    <ul class="nav navbar-nar navbar-right">
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a></li>
        <li><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
    </ul>
}